.wrapper {
    background: #F6F6F8;
    padding: 70px 0 70px;
    overflow: hidden;
}

.inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 64px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.badge {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    font-size: 12px;
    font-weight: 600;
    color: #4f46e5;
    background: #d4cfff;
    border: 1px solid #d4cfff;
    border-radius: 20px;
    padding: 6px 14px;
    letter-spacing: 0.6px;
}

.badge-icon {
    font-size: 16px;
    color: #4F46E5;
    
}

.title {
    font-size: 50px;
    font-weight: 790;
    color: #0f172a;
    line-height: 1.2;
    letter-spacing: -0.02em;
}

.title-highlight {
    color: #4f46e5;
}

.desc {
    font-size: 16px;
    color: #475569;
    line-height: 1.75;
    margin-bottom: 14px;
    max-width: 460px;
}

.cta-group {
    display: flex;
    align-items: center;
    gap: 16px;
}

.btnPrimary {
    height: 50px;
    font-weight: 600 !important;
    padding: 0 28px !important;
    border-radius: 10px !important;
    background: #5b4fff !important;
    &:hover {
        background: #5b4fff !important;
        transform: translateY(-2px) !important;
    }
}

.btnSecondary {
    height: 50px;
    font-weight: 600 !important;
    padding: 0 24px !important;
    border-radius: 10px !important;
    color: #0f172a !important;
    &:hover {
        background: #f6f6f8 !important;
        transform: translateY(-2px) !important;
    }
}

.img {
    width: 100%;
    max-width: 550px;
    height: 418px;
    border-radius: 20px;
    display: block;
    margin: 0 auto;
    object-fit: contain;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
